*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#container{
    border: solid black 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxContainer{
    width: 150px;
    height: 100px;
    margin: 50px;
}

#boxAdd{
    position: fixed;
}

#boxElement{
    height: auto;
}

#boxAdd{
    text-align: center;
}

#boxAdd button{
    margin-top: 25px;
}

.element{
    text-align: center;
    background-color: thistle;
    margin: 10px 10px 15px 10px;
    border-radius: 7px;
}