*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: tomato;
}

.container{
    background-color: #fff;
    padding: 15px;
    border-radius: 7px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

#titulo{
    font-size: 30px;
}

h1{
    font-size: 3em;
}

.pausado{
    color: red;
}
