body{
    background-color: azure;
}

.container{
    background-color: cadetblue;
    padding: 15px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 8px;
}

h1{
    text-align: center;
    border-bottom: 1px solid black;
}

.senha-gerada{
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
}

button{
    font-size: 1em;
}